


html{
background-image: linear-gradient(#FC5E55,#FA4083)
}   

body{
    background-image: url(img/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container{
    width: 1024px;
   
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

}

header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
main{
   
    min-height: 300px;
    display: flex;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}
.cards{
    
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card1{
    background-image: url(img/image-background-card1.jpg);
    min-height: 250px;
    background-size: cover;
    background-position: bottom;
    width: 30%;
}

.card2{
    background-image: url(img/image-background-card2.jpg);
    min-height: 250px;
    background-size: cover;
    background-position: bottom;
    width: 30%;
}

.card3{
    background-image: url(img/image-background-card3.jpg);
    min-height: 250px;
    background-size: cover;
    background-position: bottom;
    width: 30%;
}
.herobox1{
    flex: 2;
    padding-right: 100px;
   
}

.herobox2{
    flex: 1;
    
}

h1{
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px yellow;
    
}
h2{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
    
}

.card1 , .card2 , .card3{
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px red;
}

.cards p{
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}


p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}
.cards i{
    font-size: 100px;
   
}
.mybutton{
    background-color: white;
    color: blue;
    font-family: 'Playfair Display', serif;
    padding: 11px 21px;
    border-radius: 11px 20px;
}

.mybutton:hover{
    background-color: green;
    transition-duration: 1s;
}

a.mybutton{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}

nav a.mybutton{
    margin-left: 30px;
    
}
.navbutton{
    border: 3px solid white;
    padding: 11px 22px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}
.tbox{
    width: 37%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}
.testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px; 
}
.tbox p:last-of-type{
    font-size: 0.8rem;
    padding-left: 30px;
}

.dropbox{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
}

.navbutton:hover .dropbox{
    display: block;
   
}
.dropbox .navbutton{
    width: 120px;
    background-color: white;
}
.dropbox .navbutton a{
    color: #FA4083;
}

.inputwrapper{
    margin-bottom: 20px;
}

input[type=text], input[type=email], textarea {
padding: 12px 20px;
width: 100%;
font-family: 'Roboto', sans-serif;
font-size: 0.85rem;
box-sizing: border-box;
}

.newline {
    display: block;
    margin-bottom: 10px;
}

.margin-right-a{
    margin-right: 20px;
}

input[type=radio]{
    margin-right: 10px;
}

form{
    margin: 40px 20px;
}





